.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e56934;
    color: #fff;
    padding: 12px;
  }

  .logo{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 50px;
  }
  
  a {
    color: #ffffff;
  }

  .navigation{
    align-content:space-between;
    padding-right: 50px;
  }