<div class="cart-container">
        <div class="cart-panel">
            <h2 style="margin-bottom: 40px;">Checkout</h2>
            <div *ngIf="shoppingCart.length==0">
                <h3 class="empty-cart-message">Your cart is empty</h3>
                <a class="back-link" routerLink="/"> &larr; Back to all products</a>
            </div>
            <div class="cart-item" *ngFor = "let item of shoppingCart">
                    <img src="{{item.product.url}}">
                <div class="cart-item-details">       
                    <h3>{{item.product.name}}</h3>
                    <p>{{item.product.price | currency: 'USD': true}}</p>
                    <form #quantitySelector="ngForm">
                        Quantity: <input type="number" class="number-input" name="quantity" min="0" value="{{item.quantity}}" [(ngModel)]="item.quantity" (ngModelChange)="onQuantityChange(item)" ngModel>
                    </form>
                </div>
            </div>
            <h4 *ngIf="cartTotal>0">Total: {{cartTotal | currency: 'USD': true}}</h4>
        </div>
        <div *ngIf="shoppingCart.length>0">
            <form #paymentForm="ngForm" (ngSubmit)="checkout()" class="cart-item-details">
                <label>*Full name</label>
                <input type="text" name="fullname" class="form-margin" required minlength="3" placeholder="Minimum 3 characters" [(ngModel)]="fullName">
                <label>*Address</label>
                <input type="text" name="address" class="form-margin" required minlength="6" placeholder="Minimum 6 characters" [(ngModel)]="shippingAddress">
                <label>*Card number</label>
                <input type="text" name="card" class="form-margin" required minlength="16" placeholder="16 digit card number" [(ngModel)]="cardNumber">
                
                <input type="submit" [disabled]="paymentForm.invalid" value="Pay {{cartTotal | currency: 'USD': true}}" class="btn btn-primary form-margin">
            </form>
        </div>
</div>
