<div class="product-container">
    <a routerLink="/product/{{productItem.id}}"><img class="product-image" src="{{productItem.url}}"></a>
    <h2>{{productItem.name}}</h2>
    <p>{{productItem.description}}</p>
    <p>{{productItem.price | currency: 'USD': true}}</p>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <input type="number" class="select-input" name="quantity" [(ngModel)]="quantity" min="1">
        <br>
        <input type="submit" class="btn btn-primary" [disabled]="form.invalid" value="Add to Cart">
    </form>
</div>